:root {
    --bg: #333333;
    --darkerGray: #202020;
    --mainFont: #F2ECFF;
    --red: #de1f43;
}

html {
    background: var(--bg);
}

html::-webkit-scrollbar {
    display: none;
}

#app {
    background-color: var(--bg);
    font-family: chzanmrs, sans-serif;
}

/* Header */

#header {
    background: linear-gradient(var(--bg), #131313)!important;
}

.btn-header {
    color: var(--mainFont) !important;
}

.form-control.search-input {
    background-color: var(--darkerGray);
    border: var(--darkerGray);
}

.form-control:focus {
    background-color: var(--darkerGray);
    color: var(--mainFont);
}

.btn-header:focus {
    border: var(--bg);
}

a.nav-link {
    color: var(--mainFont);
    background-color: transparent;
}

a.nav-link:hover {
    color: var(--red);
}

li.nav-item:active {
    color: var(--red);
    background: linear-gradient(var(--bg), #131313, 180deg)!important;
}

li.nav-item {
    border-left: 2px solid black;
}

.logo {
    color: var(--mainFont);
    margin-left: 3rem;
    font-weight: bold;
}

.fan-zone {
    margin-right: .5rem;
    background: var(--red);
    font-weight: bold;
}

/* Body */

.cover {
    height: 25rem;
    object-fit: cover;
    margin-top: 2rem;
}

.cover-img {
    width: 100%;
    position: absolute;
}

ul {
    list-style: none;
    padding-left: 0 !important;
}

.categories {
    background: var(--darkerGray);
    margin-top: 2rem;
}

.category-list {
    color: var(--mainFont);
    margin-top: 1rem;
    cursor: pointer;
    border-bottom: 1px solid var(--bg);
    text-align: center;
}

/* Carousel */

#carouselExampleSlidesOnly {
    margin: 0 2rem 2rem 2rem;
}

.carousel-image {
    background-image: linear-gradient(transparent, var(--darkerGray));
}

.carousel-item.active {
    position: relative;
}

.center-details {
    background: var(--red);
}

.img-cover {
    color: var(--mainFont);
    font-family: "B Yekan+", sans-serif;
    direction: rtl;
    margin-bottom: 0 !important;
}

.img-cover-details {
    color: var(--red);
    font-family: "B Yekan+", sans-serif;
    direction: rtl;
    margin-bottom: 0 !important;
}

.smaller-slide {
    margin-top: 1rem;
}

.carousel-caption {
    bottom: 0 !important;
    background: linear-gradient(transparent , var(--darkerGray));
    left: 0 !important;
    width: 100%;
}

/* Featured articled */

.head-bg {
    background: var(--darkerGray);
    margin-top: 2rem;
}

.head-text {
    color: var(--mainFont);
}

.card.main-movies {
    background: var(--bg);
}

.card-title {
    color: var(--mainFont);
    font-family: "B Yekan+", sans-serif;
    text-align: center;
}
