<template>
    <div id="header">
        <!-- Search bar -->
        <div class="container">
            <nav>
                <div class="row justify-content-around mt-2">
                    <div class="col-12 col-md-8 col-xl-8">
                        <button type="button" class="btn btn-header mr-1">Lon in</button>
                        <button type="button" class="btn btn-header">Entries</button>
                    </div>
                    <div class="col-12 col-md-4 col-xl-4" dir="rtl">
                        <form>
                            <form class="input-group mb-3">
                                <label>
                                    <input type="text" class="form-control search-input" placeholder="Search..."/>
                                </label>
                            </form>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Items and logo -->
        <nav class="row justify-content-between align-items-baseline">
            <div class="row align-items-baseline col-12 col-md-5 col-xl-5">
                <h3 class="logo">
                    CELEBRITIES
                </h3>
                <h6 class="fan-zone ml-2">
                    FAN ZONE
                </h6>
            </div>
            <div class="col-12 col-md-7 col-xl-7">
                <ul class="nav mt-3 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CELEBRITIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: "Header"
    }
</script>
