<template>
    <div class="container">
        <div class="row justify-content-lg-between">
            <div class="col-12 col-md-3 col-xl-3">
                <div class="categories">
                    <ul>
                        <li v-for="category in categories" :key="category" class="category-list">{{category}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-9 col-xl-9 cover">
                <div class="row justify-content-center">
                    <div id="carouselExampleSlidesOnly" class="carousel slide col-12" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 carousel-image" :src="this.movies.LandscapeImage" alt="img">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3 class="img-cover">{{this.movies.Title}}</h3>
                                    <p class="img-cover-details">{{this.movies.Summary}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-6 carousel slide smaller-slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 carousel-image" :src="this.movies.LandscapeImage" :alt="index">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4 class="img-cover">{{this.movies.Title}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-6 carousel slide smaller-slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 carousel-image" :src="this.movies.LandscapeImage" :alt="index">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4 class="img-cover">{{this.movies.Title}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-6 carousel slide smaller-slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 carousel-image" :src="this.movies.LandscapeImage" :alt="index">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4 class="img-cover">{{this.movies.Title}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-6 carousel slide smaller-slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 carousel-image" :src="this.movies.LandscapeImage" :alt="index">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4 class="img-cover">{{this.movies.Title}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 head-bg">
                        <span class="head-text">FEATURED ARTICLES</span>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col-12 col-xl-3 col-md-3 mt-4">
                            <div class="card main-movies">
                                <img class="card-img-top" :src="this.movies.PortraitImage" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.movies.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-md-3 mt-4">
                            <div class="card main-movies">
                                <img class="card-img-top" :src="this.movies.PortraitImage" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.movies.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-md-3 mt-4">
                            <div class="card main-movies">
                                <img class="card-img-top" :src="this.movies.PortraitImage" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.movies.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-md-3 mt-4">
                            <div class="card main-movies">
                                <img class="card-img-top" :src="this.movies.PortraitImage" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.movies.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-md-3 mt-4">
                            <div class="card main-movies">
                                <img class="card-img-top" :src="this.movies.PortraitImage" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.movies.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-md-3 mt-4">
                            <div class="card main-movies">
                                <img class="card-img-top" :src="this.movies.PortraitImage" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.movies.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-md-3 mt-4">
                            <div class="card main-movies">
                                <img class="card-img-top" :src="this.movies.PortraitImage" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.movies.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-md-3 mt-4">
                            <div class="card main-movies">
                                <img class="card-img-top" :src="this.movies.PortraitImage" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.movies.Title}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "Home",
        data() {
            return {
                index: 0,
                movies: [],
                categories: [
                    'ACTORS',
                    'ACTRESSES',
                    'AUTHORS',
                    'DIRECTORS',
                    'HAITI',
                    'MLB TEAMS',
                    'MODELS',
                    'MUSIC GROUPS',
                    'NBA TEAMS',
                    'NFL TEAMS',
                    'NHL TEAMS',
                    'SINGERS',
                    'TENNIS PLAYERS',
                    'TV PRESENTERS',
                    'TV SHOWS',
                    'WRESTLERS'
                ]
            }
        },
        mounted() {
            this.getData(this.index);
        },
        methods: {
            getData(index) {
                axios.get(`http://apitest.tek-nic.com/movie/FirstPage`)
                    .then(response => {
                        this.movies = response.data.result[index].list[index];
                        console.log(this.movies);
                    })
                    .catch(error => console.log(error))
            }
        }
    }
</script>
